* {
  font-family: 'Inter', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: #202124;
}

h1,
h2,
h3,
input,
button {
  font-family: 'Press Start 2P', system-ui;
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  padding: 14px;
  background: #eff6ff;
  gap: 14px;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 14px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
}

header,
.main {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 20px;
}

header input {
  flex: 1;
  border-radius: 14px;
  outline: none;
  width: 100%;
}

header button {
  flex: 1;
  padding: 10px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

header button:hover {
  opacity: 0.7;
}

header button,
header input {
  padding: 14px 18px;
  border: none;
  outline: none;
  background: white;
}

p {
  font-size: 0.9em;
}

.main {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.todoItem {
  display: flex;
  align-items: center;
  gap: 16px;
  padding: 14px;
  border-radius: 8px;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid #ccc;
}


.todoItem p {
  flex: 1;
}


.todo-content-wrapper {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.todo-text {
  font-size: 18px;
  margin-left: 10px;
}

.actionsContainer {
  display: flex;
  align-items: center;
  gap: 14px;
}

.actionsContainer button {
  transition-duration: 200ms;
  border: none;
  background: transparent;
  cursor: pointer;
}

.actionsContainer button:hover {
  opacity: 0.7;
}


select, button {
  background-color: white;
  border: none;
  cursor: pointer;
}
/* Adjust spacing for priority and due date */
.priority,
.due-date {
  margin-left: 8px;
  font-size: 0.875rem;
  color: #666;
}
@media (min-width: 768px) {
  header button,
  header input {
    font-size: 1rem;
  }

  p {
    font-size: 0.875rem;
  }

  /* Increase gap between todo items */
  .todoItem {
    gap: 24px;
  }
}

  p {
    font-size: 1em;
  }